.card-project {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d3d3d;
  width: 280px;
  height: 280px;
  box-shadow: 10px 10px 0px black;
}

.card-project.-blue {
  background-color: #f2f2f2;
  border-radius: 10%;
}
